# OMNISYRAX: Archivo de Configuración de Credenciales de Ejemplo
# Reemplaza los datos con tus credenciales reales de API Condor/Omni

tenants:
  default:
    api_base_url: https://qa5-condor.omniorders.com/
    company_id: '1'
    process_id: '1'
    token: TU_TOKEN_BEARER_AQUI
  mi_cuenta_demo:
    api_base_url: https://api.omniorders.com/
    company_id: '100'
    process_id: '200'
    token: TU_TOKEN_BEARER_AQUI
